In [1]:
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
import sklearn as sk
import numpy as np

from sklearn.linear_model import LogisticRegression

In [2]:
xtrain=pd.read_csv("data/xtrain_challenge.csv")
ytrain=pd.read_csv("data/ytrain_challenge.csv")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
xtrain.head(10)

,qs1,qs2,qs3,qs4,qs5,qs6,qs7,qs8,qs9,qs10,qs11,qs12,qs13,qr1,qr2,qr3,qr4,qr5,qr6,qr7,qr8,qr9,qr10,qr11,qr12,qr13,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11
0,1.0,0.0,0.0,-6.24,-5.27,-1.86,0.63,3.27,0.89,350.98,64.86,0.0,1.00,1.0,0.0,0.0,-9.44,-12.53,0.84,2.59,1.53,1.03,276.02,58.02,0.0,1.00,2405.94,1981.09,2677.84,2470.44,1579.39,2185.79,2118.77,2580.99,2498.04,3180.58,2718.29
1,1.0,0.0,0.0,-0.42,-4.50,-4.31,1.61,1.72,2.76,347.06,28.85,0.0,0.99,1.0,0.0,0.0,-0.35,-18.97,-1.31,1.23,0.84,0.34,263.84,30.50,0.0,1.00,3241.37,2015.24,3987.19,3343.53,2894.69,2947.34,2689.42,3763.51,2544.22,3515.58,3247.49
2,1.0,0.0,0.0,33.76,-19.29,2.71,1.73,1.32,1.53,135.94,57.65,1.0,0.01,1.0,0.0,0.0,-12.58,-9.99,-0.15,1.21,0.34,1.60,357.67,51.98,1.0,1.00,2199.22,2549.59,2164.41,2100.69,1294.35,2136.04,1644.05,2308.05,1774.88,3005.79,2507.02
3,1.0,0.0,0.0,-2.82,-8.04,3.04,0.94,2.92,0.09,288.07,21.23,0.0,0.94,1.0,0.0,0.0,1.57,-13.22,-2.66,1.18,0.23,0.38,268.44,24.59,0.0,0.19,2390.40,2141.75,2086.02,2154.69,1247.48,1903.36,2232.54,2146.34,2201.53,3315.03,2274.76
4,1.0,0.0,0.0,3.56,-10.61,-0.65,0.19,1.04,2.10,166.12,37.36,1.0,0.00,1.0,0.0,0.0,20.03,-15.53,-1.21,1.31,0.23,1.25,172.19,26.14,0.0,1.00,1822.14,2202.60,2150.07,2194.25,1575.43,2345.59,1976.82,1440.78,2061.06,2927.96,2073.16
5,1.0,0.0,0.0,3.10,-6.27,-2.70,0.20,1.82,1.16,267.62,34.40,0.0,1.00,1.0,0.0,0.0,-10.03,3.83,-1.81,2.62,0.31,0.08,264.94,35.82,0.0,1.00,1654.88,1759.45,2727.66,2253.47,2091.18,2021.04,1963.33,2436.20,2333.33,3034.30,2359.34
6,1.0,0.0,0.0,-5.08,3.91,-0.47,1.45,0.07,2.15,188.00,36.80,0.0,1.00,1.0,0.0,0.0,0.02,1.34,-2.72,1.80,0.12,0.65,231.98,37.27,0.0,0.00,2320.56,1685.26,2307.06,1939.64,1549.16,2148.36,1590.07,2107.89,2273.71,3169.00,2403.95
7,1.0,0.0,0.0,1.52,-6.21,1.53,0.91,0.77,0.65,306.03,32.23,0.0,1.00,1.0,0.0,0.0,0.53,1.49,1.30,0.57,0.18,1.07,404.22,24.13,0.0,1.00,2210.33,1968.06,2738.41,2524.63,2313.01,2096.95,2466.05,2148.19,2413.82,3231.56,2895.45
8,1.0,0.0,0.0,-0.51,9.75,8.86,1.49,0.31,1.29,375.26,43.40,0.0,1.00,1.0,0.0,0.0,2.91,9.49,-8.28,2.17,1.02,0.07,344.02,46.38,0.0,1.00,2180.16,2385.96,2246.63,2169.35,1783.36,1934.03,2355.90,2034.93,2133.04,3286.98,2282.92
9,1.0,0.0,0.0,-7.89,-5.71,-12.80,2.28,0.40,1.50,282.73,40.00,0.0,0.00,1.0,0.0,0.0,11.33,-1.36,5.89,3.80,0.32,0.79,263.39,26.94,0.0,0.00,5428.98,4299.10,6658.78,8224.55,6603.65,6599.55,7133.70,6894.58,7169.84,6608.53,6802.31

In [4]:
ytrain.head(10)

   y
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  1

In [6]:
# Prenons juste les valeurs S1 à S11
cols_S1_11 = list(xtrain.columns)[26:]

In [7]:
X_train, X_test, y_train, y_test = sk.model_selection.train_test_split(xtrain, ytrain, test_size=0.33, random_state=42)

In [8]:
X_train_s = X_train[cols_S1_11]/10000.

In [9]:
X_train_s.head(10)

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11
7747567,0.180169,0.199116,0.181775,0.209854,0.192762,0.178672,0.144959,0.190278,0.230619,0.274726,0.209349
9482021,0.224416,0.235928,0.195489,0.208081,0.182336,0.148594,0.133704,0.160123,0.230921,0.292057,0.191546
1964448,0.237103,0.182624,0.223728,0.201232,0.104056,0.179817,0.145395,0.162514,0.253074,0.279618,0.217877
6544900,0.258019,0.185819,0.217501,0.170143,0.177135,0.231941,0.141814,0.189972,0.210441,0.298153,0.211675
2318787,0.180049,0.202864,0.246452,0.162370,0.190500,0.201811,0.187536,0.225416,0.209192,0.285864,0.217964
5710715,0.200114,0.177892,0.217315,0.207603,0.222976,0.212805,0.192200,0.181247,0.270969,0.300921,0.222894
9347066,0.325853,0.180027,0.243127,0.255957,0.194652,0.241120,0.202504,0.189734,0.259140,0.322356,0.238693
5439899,0.181938,0.181343,0.155205,0.197434,0.141999,0.178408,0.148446,0.218146,0.218220,0.306828,0.180909
4029516,0.234735,0.224597,0.223163,0.219155,0.198892,0.167471,0.168914,0.179976,0.230620,0.299634,0.206598
8435320,0.269756,0.179164,0.262513,0.198275,0.183068,0.232006,0.190558,0.201980,0.227389,0.318348,0.247084

In [67]:
clf = LogisticRegression(solver='lbfgs', max_iter=1000)
clf.fit(X_train_s.values, y_train.values )

C:\Users\martinez\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:

yvalid = clf.predict(X_test[cols].values/10000.)[:,clf.classes_ == 1][:,0]

In [10]:
from xgboost import XGBClassifier

xgb = XGBClassifier( learning_rate=0.8, n_estimators=50 , n_jobs=-1)
%time xgb.fit( X_train.values, y_train.values)

C:\Users\martinez\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\martinez\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[16:16:06] WARNING: C:\Jenkins\workspace\xgboost-win64_release_0.90\src\learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.
Wall time: 3h 13min 50s

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.8, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=50, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [11]:

soft = xgb.predict(X_test.values)

In [12]:
print(soft)
yvalid=soft

[0 0 0 ... 0 0 0]

In [83]:

TN, FP, FN, TP = sk.metrics.confusion_matrix(y_test, yvalid).ravel()
N = np.sum(y_test == 0).values
P = np.sum(y_test == 1).values

print("For the smallest FPR <= 10^-4 (i.e., ", FP / N, ") TPR = ", TP / P, ".", sep = "")

For the smallest FPR <= 10^-4 (i.e., [0.00082323]) TPR = [0.9608589].

In [86]:

yvalid_scoreordered = y_test.values[np.argsort(yvalid)]


FP = 0.0
TP = 0.0
val = 0
print(N)
print(P)
for i in range(len(y_test) - 1, -1, -1):        
    if (yvalid_scoreordered[i] == 1):
        TP = TP + 1
    else:
        FP = FP + 1
        #print(X_test[cols].iloc(i))
    if (FP / N > 10**-4):
        FP = FP - 1
        break
print("For the smallest FPR <= 10^-4 (i.e., ", FP / N, ") TPR = ", TP / P, ".", sep = "")

[3011299]
[222937]
For the smallest FPR <= 10^-4 (i.e., [9.99568625e-05]) TPR = [0.12412924].